{% extends 'base.html' %}
{% block title %}Logis Company{% endblock %}
{% load static %}

{% block content %}

    <!-- ======= Hero Section ======= -->
    <section id="hero" class="hero d-flex align-items-center">
        <div class="container">
            <div class="row gy-4 d-flex justify-content-between">
                <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center">
                    <h2 data-aos="fade-up">Logis Company And Programming Team</h2>

                    <div class="row gy-4" data-aos="fade-up" data-aos-delay="400">

                        <div class="col-lg-3 col-6">
                            <div class="stats-item text-center w-100 h-100">
                                <span data-purecounter-start="0" data-purecounter-end="{{ project_count }}"
                                      data-purecounter-duration="1" class="purecounter"></span>
                                <p>Projects</p>
                            </div>
                        </div><!-- End Stats Item -->

                        <div class="col-lg-3 col-6">
                            <div class="stats-item text-center w-100 h-100">
                                <span data-purecounter-start="0" data-purecounter-end="{{ article_count }}"
                                      data-purecounter-duration="1" class="purecounter"></span>
                                <p>Articles</p>
                            </div>
                        </div><!-- End Stats Item -->

                        <div class="col-lg-3 col-6">
                            <div class="stats-item text-center w-100 h-100">
                                <span data-purecounter-start="0" data-purecounter-end="{{ comment_count }}"
                                      data-purecounter-duration="1" class="purecounter"></span>
                                <p>Comments</p>
                            </div>
                        </div><!-- End Stats Item -->

                    </div>
                </div>

                <div class="col-lg-5 order-1 order-lg-2 hero-img" data-aos="zoom-out">
                    <img src="{% static 'img/hero-img.svg' %}" class="img-fluid mb-3 mb-lg-0" alt="">
                </div>

            </div>
        </div>
    </section><!-- End Hero Section -->

    <main id="main">

        <!-- ======= Featured Services Section ======= -->
        <section id="featured-services" class="featured-services">
            <div class="container">

                <div class="row gy-4">

                    <div class="col-lg-4 col-md-6 service-item d-flex" data-aos="fade-up">
                        <div class="icon flex-shrink-0"><i class="fa-solid fa-code"></i></div>
                        <div>
                            <h4 class="title">Web Development</h4>
                            <p class="description">Web development includes the design and creation of websites and web
                                applications that allow users to interact with content.</p>
                        </div>
                    </div>
                    <!-- End Service Item -->

                    <div class="col-lg-4 col-md-6 service-item d-flex" data-aos="fade-up" data-aos-delay="100">
                        <div class="icon flex-shrink-0"><i class="fa-solid fa-mobile-alt"></i></div>
                        <div>
                            <h4 class="title">Mobile Programming</h4>
                            <p class="description">Development of mobile applications for various operating systems such
                                as Android and iOS to provide an optimized user experience.</p>
                        </div>
                    </div><!-- End Service Item -->

                    <div class="col-lg-4 col-md-6 service-item d-flex" data-aos="fade-up" data-aos-delay="200">
                        <div class="icon flex-shrink-0"><i class="fa-solid fa-database"></i></div>
                        <div>
                            <h4 class="title">Database Management</h4>
                            <p class="description">Management and design of databases for efficient and secure storage
                                and retrieval of information.</p>
                        </div>
                    </div><!-- End Service Item -->

                </div>

            </div>
        </section><!-- End Featured Services Section -->


        <!-- ======= About Us Section ======= -->
        <section id="about" class="about pt-0">
            <div class="container" data-aos="fade-up">

                <div class="row gy-4">
                    <div class="col-lg-6 position-relative align-self-start order-lg-last order-first">
                        <img src="{% static 'img/cta-bg.jpg' %}" class="img-fluid"
                             style="width: 100%; height: 480px;object-fit: cover" alt="About Us">
                    </div>
                    <div class="col-lg-6 content order-last order-lg-first">
                        <h3>About Us</h3>
                        <p style="text-align: justify;line-height: 30px">{{ site_settings.about_us_text }}</p>
                    </div>
                </div>

            </div>
        </section><!-- End About Us Section -->


        <!-- ======= Services Section ======= -->
        <section id="service" class="services pt-0">
            <div class="container" data-aos="fade-up">

                <div class="section-header">
                    <span>Our Services</span>
                    <h2>Our Services</h2>

                </div>

                <div class="row gy-4">

                    {% if services %}
                        {% for service in services %}
                            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
                                <div class="card">
                                    <div class="card-img">
                                        <img src="{{ service.image.url }}" alt="{{ service.title }}"
                                             class="img-fluid fixed-size-img">
                                    </div>
                                    <h3><a href="{% url 'core:service_detail' service.slug %}"
                                           class="stretched-link">{{ service.title }}</a></h3>
                                    <p>{{ service.description|truncatewords:20 }}</p>
                                </div>
                            </div><!-- End Card Item -->
                        {% endfor %}
                    {% else %}
                        <h3 style="text-align: center;">There is no service</h3>
                    {% endif %}

                </div>

            </div>
        </section><!-- End Services Section -->

        <!-- ======= Call To Action Section ======= -->
        <section id="call-to-action" class="call-to-action">
            <div class="container" data-aos="zoom-out">

                <div class="row justify-content-center">
                    <div class="col-lg-8 text-center">
                        <h3>Contact Us</h3>
                        <p>{{ site_settings.contact_us_text }}</p>
                        <a class="cta-btn" href="{% url 'core:contact' %}">Contact Us</a>
                    </div>
                </div>

            </div>
        </section>
        <!-- End Call To Action Section -->

        <!-- ======= Project List Section ======= -->
        <section id="project-list" class="project-list">
            <div class="container" data-aos="fade-up">

                <div class="section-header">
                    <span>Our Projects</span>
                    <h2>Our Projects</h2>
                </div>

                <div class="row gy-4">
                    {% if projects %}
                        {% for project in projects %}
                            <div class="col-lg-6 col-md-6" data-aos="fade-up" data-aos-delay="200">
                                <div class="card">
                                    <div class="card-img">
                                        {% if project.thumbnail %}
                                            <img src="{{ project.thumbnail.url }}" alt="{{ project.title }}"
                                                 class="img-fluid fixed-size-img" data-bs-toggle="modal"
                                                 data-bs-target="#projectModal{{ project.id }}">
                                        {% else %}
                                            <img src="{% static 'img/image_not_available.jpg' %}"
                                                 alt="{{ project.title }}"
                                                 class="img-fluid fixed-size-img" data-bs-toggle="modal"
                                                 data-bs-target="#projectModal{{ project.id }}">
                                        {% endif %}
                                    </div>
                                    <h3 style="text-align: center;margin-top: 10px;margin-bottom: 10px;">{{ project.title }}</h3>
                                </div>
                            </div><!-- End Card Item -->

                            <!-- Modal -->
                            <div class="modal fade" id="projectModal{{ project.id }}" tabindex="-1"
                                 aria-labelledby="projectModalLabel{{ project.id }}" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered modal-lg">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title"
                                                id="projectModalLabel{{ project.id }}">{{ project.title }}</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <div id="carousel{{ project.id }}" class="carousel slide"
                                                 data-bs-ride="false">
                                                <div class="carousel-inner">
                                                    {% for image in project.project_image.all %}
                                                        <div class="carousel-item {% if forloop.first %}active{% endif %}">
                                                            <img src="{{ image.image.url }}" class="d-block w-100"
                                                                 alt="{{ project.title }}">
                                                        </div>
                                                    {% endfor %}
                                                </div>
                                                <button class="carousel-control-prev" type="button"
                                                        data-bs-target="#carousel{{ project.id }}" data-bs-slide="prev">
                                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                                    <span class="visually-hidden">Previous</span>
                                                </button>
                                                <button class="carousel-control-next" type="button"
                                                        data-bs-target="#carousel{{ project.id }}" data-bs-slide="next">
                                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                                    <span class="visually-hidden">Next</span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- End Modal -->

                        {% endfor %}
                    {% else %}
                        <h3 style="text-align: center;">There is no project</h3>
                    {% endif %}
                </div>

            </div>
        </section>
        <!-- End Project List Section -->

        <!-- ======= Testimonials Section ======= -->
        <section id="testimonials" class="testimonials">
            <div class="container">

                <div class="slides-1 swiper" data-aos="fade-up">
                    <div class="swiper-wrapper">

                        {% for comment in comments %}
                            <div class="swiper-slide">
                                <div class="testimonial-item">
                                    <img src="{{ comment.image.url }}" class="testimonial-img" alt="">
                                    <h3>{{ comment.full_name }}</h3>
                                    <h4>{{ comment.profession }}</h4>
                                    <div class="stars">
                                        {% for i in ""|rjust:comment.star %}
                                            <i class="bi bi-star-fill"></i>
                                        {% endfor %}
                                    </div>
                                    <p>
                                        <i class="bi bi-quote quote-icon-left"></i>
                                        {{ comment.description }}
                                        <i class="bi bi-quote quote-icon-right"></i>
                                    </p>
                                </div>
                            </div><!-- End testimonial item -->
                        {% endfor %}

                    </div>
                    <div class="swiper-pagination"></div>
                </div>

            </div>
        </section><!-- End Testimonials Section -->

        <!-- ======= Frequently Asked Questions Section ======= -->
        <section id="faq" class="faq">
            <div class="container" data-aos="fade-up">

                <div class="section-header">
                    <span>Frequently Asked Questions</span>
                    <h2>Frequently Asked Questions</h2>

                </div>

                <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="200">
                    <div class="col-lg-10">

                        <div class="accordion accordion-flush" id="faqlist">
                            {% for faq in faq_list %}
                                <div class="accordion-item">
                                    <h3 class="accordion-header">
                                        <button class="accordion-button collapsed" type="button"
                                                data-bs-toggle="collapse"
                                                data-bs-target="#faq-content-{{ forloop.counter }}">
                                            <i class="bi bi-question-circle question-icon"></i>
                                            {{ faq.question }}
                                        </button>
                                    </h3>
                                    <div id="faq-content-{{ forloop.counter }}" class="accordion-collapse collapse"
                                         data-bs-parent="#faqlist">
                                        <div class="accordion-body">{{ faq.answer }}</div>
                                    </div>
                                </div><!-- # Faq item-->
                            {% endfor %}
                        </div>


                    </div>
                </div>

            </div>
        </section><!-- End Frequently Asked Questions Section -->

    </main><!-- End #main -->

{% endblock %}