{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>{% block title %}{% endblock %}</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="{% static 'img/fav.png' %}" rel="icon">
    <link href="{% static 'img/fav.png' %}" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
          rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/aos/aos.css' %}" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="{% static 'css/main.css' %}" rel="stylesheet">

    <!-- =======================================================
    * Template Name: Logis
    * Updated: Mar 10 2023 with Bootstrap v5.2.3
    * Template URL: https://bootstrapmade.com/logis-bootstrap-logistics-website-template/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
</head>

<body>

    <!-- ======= Header ======= -->
    <header id="header" class="header d-flex align-items-center fixed-top">
        <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

            <a href="{% url 'core:home' %}" class="logo d-flex align-items-center">
                <!-- Uncomment the line below if you also wish to use an image logo -->
                <!-- <img src="assets/img/logo.png" alt=""> -->
                <h1>LogisCompany</h1>
            </a>

            <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
            <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
            <nav id="navbar" class="navbar">
                <ul>
                    <li><a href="{% url 'core:home' %}" class="{% if request.resolver_match.url_name == 'home' %}active{% endif %}">Home</a></li>
                    <li><a href="{% url 'blog:article_list' %}" class="{% if request.resolver_match.url_name == 'article_list' %}active{% endif %}">Blog</a></li>
                    <li><a href="{% url 'project:project_list' %}" class="{% if request.resolver_match.url_name == 'project_list' %}active{% endif %}">Project</a></li>
                    <li><a href="{% url 'core:contact' %}" class="{% if request.resolver_match.url_name == 'contact' %}active{% endif %}">Contact</a></li>
                </ul>
            </nav><!-- .navbar -->

        </div>
    </header><!-- End Header -->
    <!-- End Header -->

    {% block content %}{% endblock %}

    <!-- ======= Footer ======= -->
    <footer id="footer" class="footer">

        <div class="container">
            <div class="row gy-4">
                <div class="col-lg-5 col-md-12 footer-info">
                    <a href="{% url 'core:home' %}" class="logo d-flex align-items-center">
                        <span>LogisCompany</span>
                    </a>
                    <br>
                    <p>Reach your goals with the help of LogisCompany</p>
                    <div class="social-links d-flex mt-4">
                        {% if site_settings.instagram_link %}
                            <a href="{{ site_settings.instagram_link }}" class="twitter"><i class="bi bi-instagram"></i></a>
                        {% endif %}
                        {% if site_settings.telegram_link %}
                            <a href="{{ site_settings.telegram_link }}" class="facebook"><i class="bi bi-telegram"></i></a>
                        {% endif %}
                        {% if site_settings.whatsapp_link %}
                            <a href="{{ site_settings.whatsapp_link }}" class="instagram"><i class="bi bi-whatsapp"></i></a>
                        {% endif %}
                    </div>
                </div>

                <div class="col-lg-2 col-6 footer-links">
                    <h4>Useful Links</h4>
                    <ul>
                        <li><a href="{% url 'core:home' %}">Home</a></li>
                        <li><a href="{% url 'blog:article_list' %}">Blog</a></li>
                        <li><a href="{% url 'project:project_list' %}">Project</a></li>
                        <li><a href="{% url 'core:contact' %}">Contact</a></li>
                    </ul>
                </div>

                <div class="col-lg-2 col-6 footer-links">
                    <h4>Our Services</h4>
                    <ul>
                        {% for service in services %}
                            <li><a href="{% url 'core:service_detail' service.slug %}">{{ service.title }}</a></li>
                        {% endfor %}
                    </ul>
                </div>

                <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
                    <h4>Contact Us</h4>
                    <p>
                        <strong>Address:</strong> {{ site_settings.address }}
                        <br><br>
                        <strong>Phone:</strong> {{ site_settings.phone }}<br>
                        <strong>Email:</strong> {{ site_settings.email }}<br>
                    </p>

                </div>

            </div>
        </div>

        <div class="container mt-4">
            <div class="copyright">
                {{ site_settings.copy_right }}
            </div>
        </div>

    </footer><!-- End Footer -->
    <!-- End Footer -->

    <div class="scroll-top d-flex align-items-center justify-content-center" style="cursor: pointer;">
        <i class="bi bi-arrow-up-short"></i>
    </div>

    <div id="preloader"></div>

    <!-- Vendor JS Files -->
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'vendor/purecounter/purecounter_vanilla.js' %}"></script>
    <script src="{% static 'vendor/glightbox/js/glightbox.min.js' %}"></script>
    <script src="{% static 'vendor/swiper/swiper-bundle.min.js' %}"></script>
    <script src="{% static 'vendor/aos/aos.js' %}"></script>
    <script src="{% static 'vendor/php-email-form/validate.js' %}"></script>

    <!-- Template Main JS File -->
    <script src="{% static 'js/main.js' %}"></script>

    <script>
        document.querySelector('.scroll-top').addEventListener('click', function() {
            window.scrollTo({
                top: 0,
                behavior: 'smooth' // برای اسکرول نرم
            });
        });
    </script>

</body>

</html>